* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "VT323";
}
body{
  height: 100vh;
  width: 100vw;
  background:linear-gradient(0deg, rgba(81, 204, 226, 0.7) 0%, rgba(51, 105, 231, 0.9) 100%);
  overflow: hidden;
}
.display_none{
  display: none;
}
.winamp_label{
  top: 80px;
  left: 80px;
  position: absolute;
  width: 96px;
  height: 116px;
  color: #fff;
  text-align: center;
}
.icon{
  display: block;
}
.icon_label{
  font-family: sans-serif;
  display: inline-block;
  margin: 0 auto;
  letter-spacing: 1px;
}
.label_selected{
  border: 1px dashed #fff;
  background: #000080;
}
.drag {
  z-index: 1
}
.winamp{
  user-select: none;
}

.winamp_player{
  position: relative;
  top: 80px;
  left: 150px;
  width: 475px;
  height: 200px;
  background: linear-gradient(to right, #1d1d2b 0%, #393a59 15% 95%, #212132 100%);
  border: 2px solid #5f5f66;
}

.title_wrapper{
  position: relative;
}
.logo{
  position: absolute;
  top: 50%;
  margin-top: -5.5px;;
  left: 5px;
  width: 20px;
  height: 11px;
  background: url("./img/logo.png") no-repeat center / cover;
}
.title_text{
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  font-weight: 470;
  color: #fff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
}
.title_text:before{
  position: absolute;
  content: "";
  width: 171px;
  height: 11px;
  background: url("./img/titleline.png") no-repeat center / cover;
  left: 35px;
  top: 50%;
  margin-top: -5.5px;
}
.title_text:after{
  position: absolute;
  content: "";
  width: 151px;
  height: 11px;
  background: url("./img/titlelineafter.png") no-repeat center / cover;
  right: 57px;
  top: 50%;
  margin-top: -5.5px;
}
.btn_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2.5px;
  right: 1px;
}
.minimise{
  width: 13px;
  height: 13px;
  border-radius: 4px;
  background: url("./img/minimise.png") no-repeat center / cover;
  border: none;
  margin-right: 3px;
  cursor: pointer;
}
.close{
  width: 14px;
  height: 14px;
  border: none;
  background: url("./img/cross.png") no-repeat center / cover;
  cursor: pointer;
}
.section_wrapper{
  position: relative;
  margin-left: 6px;
  width: 455px;
  height: 167px;
  border-top: 2px solid #5f5f66;
  border-left: 2px solid #5f5f66;
  z-index: 2;
}
.section_wrapper:before{
  content: "";
  position: absolute;
  width: 461px;
  height: 173px;
  top: -3px;
  left: -3px;
  z-index: -1;
  background: transparent;
  border-bottom: 2px solid #5f5f66;
  border-right: 2px solid #5f5f66;
}
.player_section_head{
  display: flex;
  padding: 11px 7px;
}
.player_display{
  position: relative;
  width: 160px;
  height: 75px;
  background: url("./img/bgdisplay.png");
  border-bottom: 2px solid #5f5f66;
  border-right: 2px solid #5f5f66;
  border-top: 2px solid #0f0f1c;
  border-left: 2px solid #0f0f1c;
  margin-right: 7px;
}
.player_display:before{
  position: absolute;
  content: "oaidv";
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #3b4552;
  font-family: "VT323";
  font-size:14px;
  left: -3px;
  top: 0;
}
.display_header{
  display: flex;
  width: 140px;
  height: 35.5px;
  margin-left: 12px;
  top: 0;
}
.player_state{
  height: inherit;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa{
  color: #2bff31;
  width: 25px;
  height: 25px;
  font-size: 25px;
  position: relative;
  display: block;
}

.display_time{
  width: 90px;
  height: inherit;
  color: #2bff31;
  font-size: 40px;
  text-align: center;
  line-height: 35.5px;
  text-align: center;
}
.display_freqVisual{
  width: 135px;
  height: 34px;
  margin-left: 12px;
}
#canvas_freq{
  width: 135px;
  height: 34px;
}
.header_music_bar{
  width: 275px;
  height: 24px;
  border-top: 2px solid #0f0f1c;
  border-left: 2px solid #0f0f1c;
  border-bottom: 2px solid #5f5f66;
  border-right: 2px solid #5f5f66;
  background: #000;
  margin-bottom: 7px;
  white-space: nowrap;
  color: #2bff31;
  overflow: hidden;
}
.musicBarScroll {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 25s linear infinite;
}
@keyframes scroll {
  0%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(-100%,0);
  }
}
.header_music_info{
  display: flex;
  align-items: center;
}
.info_kbps_wrapper{
  display: flex;
  margin-right: 10px;
  color: #fff;
}
.display_kbps{
  width: 34px;
  height: 20px;
  background: #000;
  border-top: 2px solid #0f0f1c;
  border-left: 2px solid #0f0f1c;
  border-bottom: 2px solid #5f5f66;
  border-right: 2px solid #5f5f66;
  margin-right: 4px;
  color: #2bff31;
  text-align: center;
  line-height: 16px;
}
.info_khz_wrapper{
  display: flex;
  color: #fff;
}
.display_khz{
  width: 34px;
  height: 20px;
  background: #000;
  border-top: 2px solid #0f0f1c;
  border-left: 2px solid #0f0f1c;
  border-bottom: 2px solid #5f5f66;
  border-right: 2px solid #5f5f66;
  margin-right: 4px;
  color: #2bff31;
  text-align: center;
  line-height: 16px;
}
.info_music_quality{
  display: flex;
  margin-left: auto;
  color: #9595a3;
}
.music_mono{
  margin-right: 7px;
}
.activeQuality{
  color: #2bff31;
  text-shadow: 0 0 6px #2bff31,
               0 0 10px #2bff31;
}
.header_music_controls{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.volume{
  -webkit-appearance: none;
  width: 112px;
  height: 10px;
  border-radius: 5px;
  border-top: 1px solid #0f0f1c;
  border-left: 1px solid #0f0f1c;
  border-bottom: 1px solid #5f5f66;
  border-right: 1px solid #5f5f66;
  outline: none;
}
.changeSide{
  -webkit-appearance: none;
  width: 63px;
  height: 10px;
  border-radius: 5px;
  border-top: 1px solid #0f0f1c;
  border-left: 1px solid #0f0f1c;
  border-bottom: 1px solid #5f5f66;
  border-right: 1px solid #5f5f66;
  outline: none;
}
.volume[type=range]::-webkit-slider-thumb, .changeSide[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: url("./img/btnrange.png") no-repeat center / cover;
  width: 24px;
  height: 18px;
  border-radius: 1px;
  border: none;
  cursor: pointer;
}
.volume[type=range]::-moz-range-thumb, .changeSide[type=range]::-moz-range-thumb {
  background: url("./img/btnrange.png") no-repeat center / cover;
  width: 24px;
  height: 18px;
  border-radius: 1px;
  border: none;
  cursor: pointer;
}
.btn_toggle_eq{
  background: url("./img/btneq.png") no-repeat center / cover;
  width: 38px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.btn_toggle_pl{
  background: url("./img/btnpl.png") no-repeat center / cover;
  width: 38px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.eq_off{
  background: url("./img/btneqoff.png") no-repeat center / cover;
}
.pl_off{
  background: url("./img/btnploff.png") no-repeat center / cover;
}
.timeline[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
 background: url("./img/btntimeline.png") no-repeat center / cover;
 width: 48px;
 height: 17px;
 border: none;
 cursor: pointer;
}
.timeline[type=range]::-moz-range-thumb {
  background: url("./img/btntimeline.png") no-repeat center / cover;
  width: 48px;
  height: 17px;
  border: none;
  cursor: pointer;
}
.timeline{
  -webkit-appearance: none;
  outline: none;
  width: 428px;
  height: 17px;
  background: transparent;
  border-top: 2px solid #0f0f1c;
  border-left: 2px solid #0f0f1c;
  border-bottom: 2px solid #5f5f66;
  border-right: 2px solid #5f5f66;
  margin-left: 15px;
  margin-bottom: 6px;

}
.body_controls_wrapper{
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}
.player_controls_single_wrapper{
  display: flex;
}
.btn_control{
  width: 38px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.btnPrev{
background: url("./img/prev.png") no-repeat center / cover;
}
.btnPlay{
background: url("./img/play.png") no-repeat center / cover;
}
.btnPause{
background: url("./img/pause.png") no-repeat center / cover;
}
.btnStop{
background: url("./img/stop.png") no-repeat center / cover;
}
.btnNext{
background: url("./img/next.png") no-repeat center / cover;
}
.addFiles{
  display: none;
}
.files_select{
  background: url("./img/add.png") no-repeat center / cover;
  width: 36px;
  height: 26px;
  border: none;
  cursor: pointer;
}
.btnShuffle{
  background: url("./img/shuffleoff.png") no-repeat center / cover;
  width: 79px;
  height: 23px;
  border: none;
  cursor: pointer;
}
.shuffle_on{
  background: url("./img/shuffle.png") no-repeat center / cover;
}
.btnRepeat{
  background: url("./img/repeatoff.png") no-repeat center / cover;
  width: 47px;
  height: 23px;
  border: none;
  cursor: pointer;
}
.repeat_on{
  background: url("./img/repeat.png") no-repeat center / cover;
}
.player_main_logo{
  background: url("./img/winamplogo.png") no-repeat center / cover;
  width: 31px;
  height: 31px;
}
.winamp_equalizer{
  position: absolute;
  top: 280px;
  left: 150px;
  width: 475px;
  height: 200px;
  background: linear-gradient(to right, #1d1d2b 0%, #393a59 15% 95%, #212132 100%);
  border: 2px solid #5f5f66;
}
.equalizer_text:before{
  left: 6px;
  width: 158px;
}
.equalizer_text:after{
  width: 158px;
  right: 40px;
  width: 125px;
}
.equalizer_wrapper{
  position: relative;
}
.equalizer_header{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.equalizer_line{
  height: 35px;
  width: 188px;
  background: url("./img/bgeq.svg") no-repeat center;
}
.btn_equalizer{
  border: none;
  background: url("./img/btnon.png") no-repeat center / cover;
  width: 46px;
  height: 23px;
}
.eq_off{
  background: url("./img/btnoff.png") no-repeat center / cover;
}
.btn_auto{
  border: none;
  background: url("./img/btnautooff.png") no-repeat center / cover;
  width: 58px;
  height: 23px;
}
.equalizer_pressets{
  position: relative;
}
.pressets{
  position: absolute;
  top: 4px;
  right: -80px;
  background: #fff;
  z-index: 99;
  color: #000;
  list-style: none;
  width: 80px;
  border: 1px solid #666;
}

.pressets li{
  cursor: pointer;
  padding: 4px;
  transition: all .1s;
  border-bottom: 1px solid #eee;
  font-size: 15px;
}
.pressets li:hover{
  background: rgb(20, 40, 180);
  color: #fff;
}
.btn_pressets{
  border: none;
  background: url("./img/pressets.png") no-repeat center / cover;
  width: 78px;
  height: 22px;
  cursor: pointer;
}
.eq_item_wrapper{
  display: block;
  position: relative;
  color: #fff;
  text-align: center;
  position: relative;
  margin-top: -6.5px;
}
.eq_item_wrapper:before{
  content: " ⃓ ";
  position: absolute;
  left: 0;
  top: 0;
}
.eq_item_wrapper:after{
  content: " ⃓ ";
  position: absolute;
  right: 2px;
  top: 0;
}
.equalizer_main{
  display: flex;
  flex-direction: column;
  height: 430px;
  width: 100px;
  transform: rotate(-90deg);
  position: absolute;
  top: -115px;
  left: 180px;
}
#preamp{
  margin-top: 0.5px;
}
.labelDB{
  transform: rotate(90deg);
  position: relative;
  color: #e3b427;
  font-size: 17px;
  margin-top: -5px;
  margin-bottom: -90px;
  margin-left: -20px;
  display: inline-block;
}
.labelDB span {
  display: block;
  margin-bottom: 25px;
  cursor: pointer;
}
.equalizer_filter::-webkit-slider-thumb{
  -webkit-appearance: none;
  transform: rotate(90deg);
  background: url("./img/btnrangeeq.png") no-repeat center / cover;
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
}
.equalizer_filter::-moz-range-thumb {
  transform: rotate(90deg);
  background: url("./img/btnrangeeq.png") no-repeat center / cover;
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
}
.equalizer_filter{
  outline: none;
  -webkit-appearance: none;
  display: inline-block;
  margin: 3.5px 0px 5px  0px;
  width: 100px;
  height: 10px;
  position: relative;
  border-radius: 5px;
  position: relative;
}
.winamp_playlist{
  position: absolute;
  top: 80px;
  left: 625px;
  width: 475px;
  height: 400px;
  background: linear-gradient(to right, #1d1d2b 0%, #393a59 15% 95%, #212132 100%);
  border: 2px solid #5f5f66;
}

.playlist_text{
  letter-spacing: 1px;
}
.playlist_text:before{
  width: 170px;
  height: 11px;
  left: 6px;
  top: 50%;
  margin-top: -5.5px;
}
.playlist_text:after{
  width: 138px;
  height: 11px;
  right: 40px;
  top: 50%;
  margin-top: -5.5px;
}
.playlist_wrapper{
  position: relative;
  border-top: 2px solid #5f5f66;
  border-left: 2px solid #5f5f66;
  margin-left: 6px;
  z-index: 1;
  width: 455px;
}
.playlist_wrapper:before{
  content: "";
  position: absolute;
  width: 461px;
  height: 102%;
  top: -3px;
  left: -3px;
  z-index: -1;
  background: transparent;
  border-bottom: 2px solid #5f5f66;
  border-right: 2px solid #5f5f66;
}
.playlist{
  padding: 3px 3px 3px 10px;
  margin-top: 9px;
  margin-left: 6px;
  width: 446px;
  height: 300px;
  background: #000;
  border-top: 2px solid #0f0f1c;
  border-left: 2px solid #0f0f1c;
  border-bottom: 2px solid #5f5f66;
  border-right: 2px solid #5f5f66;
  overflow-y: scroll;
}

.playlist_menu{
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
}
.playlist_list{
  list-style: none;
}
.playlist_item{;
  color: #2bff31;
  display: list-item;
  padding-left: 3px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  position: relative;
}
.playlist_songName{
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  display: inline-block;
  line-height: 20px;
}
.playlist_songTime{
  height: inherit;
  padding-left: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
.current_song{
  background: #061ac3;
  color: #fff;
}
.controls_item{
  border: none;
  margin-right: 2px;
  cursor: pointer;
}
.playlistAddFiles{
background: url("./img/playlistaddfiles.png") no-repeat center / cover;
width: 48px;
height: 34px;
margin-left: 4px;
}
.playlistRem{
background: url("./img/playlistrem.png") no-repeat center / cover;
width: 47px;
height: 34px;
}
.playlistSelect{
background: url("./img/playlistselect.png") no-repeat center / cover;
width: 46px;
height: 33px;
}
.playlistMisc{
background: url("./img/playlistmisc.png") no-repeat center / cover;
width: 47px;
height: 35px;
}
.playlistOptions{
background: url("./img/playlistoption.png") no-repeat center / cover;
width: 48px;
height: 34px;
margin-left: 7px;
}
.playlistPrev{
background: url("./img/playlistprev.png") no-repeat center / cover;
width: 13px;
height: 13px;
}
.playlistPlay{
background: url("./img/playlistplay.png") no-repeat center / cover;
width: 15px;
height: 13px;
}
.playlistPause{
background: url("./img/playlistpause.png") no-repeat center / cover;
width: 16px;
height: 14px;
}
.playlistStop{
background: url("./img/playliststop.png") no-repeat center / cover;
width: 15px;
height: 13px;
}
.playlistNext{
background: url("./img/playlistnext.png") no-repeat center / cover;
width: 12px;
height: 15px;
}
.playlistAdd{
background: url("./img/playlistadd.png") no-repeat center / cover;
width: 16px;
height: 13px;
}
.controls_wrapper{
  display: flex;
}
.menu_controls_wrapper{
  display: flex;
}
.menu_time{
  width: 162px;
  height: 21px;
  background: #000;
  border-top: 2px solid #0f0f1c;
  border-left: 2px solid #0f0f1c;
  border-bottom: 2px solid #5f5f66;
  border-right: 2px solid #5f5f66;
  margin-bottom: 3px;
  color: #2bff31;
  display: flex;
}
.menu_music_time{
  padding-left: 23px;
  margin-left: 1px;
  width: 62px;
  height: 17px;
  background: #000;
  border-top: 2px solid #0f0f1c;
  border-left: 2px solid #0f0f1c;
  border-bottom: 2px solid #5f5f66;
  border-right: 2px solid #5f5f66;
  color: #2bff31;
  text-align: center;
  line-height: 10px;
  font-size: 16px;
  padding-right: 5px;
}
.menu_time_song{
  display: inline-block;
}
.menu_time_playlist{
  display: inline-block;
}
.footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .9);
  width: 100vw;
  height: 30px;
  padding: 0 2%;
}
.footer span{
  font-size: 14px;
  font-family: sans-serif;
  color: #fff;
}
.footer nav{
  margin-left: 20px;
}
.link{
  font-size: 25px;
  color: #fff;
  transition: color 1s;
}
.link:hover{
  color:#fb8c00;
}
